#menu-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 13%;
}

/*h2*/
#menu-container span.highlight{
    font-size: 2.6rem;
}

#menu-container > h3{
    font-size: 3.5rem;
}

#cards-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
    justify-content: center;

}

.card{    
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral-0);

    width: calc(10rem + 15vw);
    padding: 1rem;
    align-items: center;
    border-radius: 2rem;
    box-shadow: .1rem .2rem 1.5rem .16rem rgba(0, 0, 0, 0.15);
}

#heart{
    /*MUITO BUGADO, NAO SEI RESOLVER!!!!!!!!!!!!!*/
    display: none;
    position: relative;
    top: calc(-2.75rem); /* Ajuste para a borda superior do cartão */
    right: calc(-16.rem);
    text-align: center;
    padding-top: 1rem;
    padding-left: .5rem;
    width: 6.5rem;
    height: 5.5rem;
    border-radius: 0rem 2rem 0rem 5rem;
    z-index: 1;
    background-color: var(--color-primary-6);
    margin: 0;
}

.card img{
    width: 23rem;
}

.card-content{
    width: 80%;
    text-align: center;
    padding: 2rem 0;
}

.card-content > p{
    color: #434343;
}

.card-price{
    display: flex;
    gap: 1.5rem;
    padding-top: 2rem;
    font-weight: bold;
}

.card-price button{
    background-color: var(--color-primary-5);
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    transition: .2s ease;

    box-shadow: .1rem .1rem .5rem .15rem rgba(0, 0, 0, 0.1);
}
.card-price button:hover{
    background-color: rgba(223, 153, 3, 0.719);
}

@media screen and (max-width: 600px){
    #menu-container{
        text-align: center;
    }
    #menu-container h3{
        font-size: 3.2rem;
    }
    #cards-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: calc(20rem + 35vw);
    }
    #heart{
        display: none;
    }
}



@media screen and (min-width: 601px) and (max-width: 1172px) {
    #cards-wrapper{
        flex-wrap: wrap;
    }
    .card{
        width: calc(9rem + 23vw);
        padding: 0 .5rem;
    }
    #heart{
        top: 0;
        left: 40%;
    }
}