*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    height: 100vh;
    place-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

