@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');        /* font-family: 'Roboto Slab';  */

/* Fundo Preto: #000000

Roxo Principal: #6A0D91 (Roxo escuro, pode ser usado para títulos e elementos de destaque)

Roxo Secundário: #A42C77 (Roxo vibrante, bom para botões ou links)

Roxo Claro: #D1A3C8 (Roxo mais claro, ideal para textos e elementos mais sutis)

Cinza Escuro: #333333 (Para criar contraste com o fundo preto, útil para textos e bordas)

Branco (para texto): #FFFFFF (Para garantir legibilidade sobre o fundo preto) 
*/


:root{
    --roxoPrincipal:#6A0D91;
}


 
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #151515;
}

header{
    width: 100vw;
    height: 70px;
    background-color: #111111;
}
header h1 {
    color: rgba(255, 255, 255, 0.781);
    font-size: 2.5em;
    font-family: 'Roboto Slab';
    text-align: center;
}
header a{
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.596);
    text-decoration: none;
}

header a:hover{
    color: white;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-size: 1em;
    padding-top: 10px;
    
}


.selected{
    width: 75px;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
    background-color: rgba(85, 85, 85, 0.281);
    border-radius: 10px;
}
.selected a{
    color: white;
}

p{
    text-align: center;
    margin-top: 200px;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.897);
    -webkit-user-select: none;
    user-select: none;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
footer a, a:visited {
    color: white;
    text-decoration: wavy;
}
footer a:hover{
    color: blue;
}