@charset "UTF-8";


*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-image: linear-gradient(180deg, white,rgb(245, 253, 252), rgb(238, 255, 255));
    min-height: 100vh;
}

.page{
    width: 1000px;
    margin: 0 auto;
    padding-top: 85px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
}

header img#logo{
    width: 150px;
}

header > nav ul {
    display: flex;
    flex-direction: row;
    gap: 3em;

    list-style: none;
    font-size: 17px;
}

header > nav a{
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}



header > nav a:hover{
    opacity: 1;
    font-weight: bold;
}


main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 ul{
    font-family: 'Mulish', sans-serif;
}

h1{
    margin-bottom: 40px;
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;

    font-weight: normal;
}

span{
    color: #89C5CC;
}

section p{
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 28px;

    color: #7D7987;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 190px;
    height: 55px;

    font-family: 'open-sans',sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    

    background-color: #69B99D;
    color: white;
    border-radius: 4px;
    border: none;
}

button:hover{
    background-color: #3f8f73;
    cursor: pointer;
}

footer{
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

footer a {
    color: #1F1534;
    font-weight: bolder;
    text-decoration: none;
}


#balls{
    position: fixed;
    bottom: -1px;
    right: -1px;
}


