@font-face {
    font-family: 'calculator';
    src: url('./fonts/Calculator.ttf') format('woff2');
}
    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --pg-background: #ee5b1c;
    --app-background: #ffd49bf3;
    --app-shadow: rgba(0, 0, 0, 0.527);
    --btn-background: white;
    
    --ff-primary: 'Arial', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: var(--pg-background);

    font-family: var(--ff-primary);
    font-size: 1.6rem;
    
}

#app{
    background-color: var(--app-background);
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    
    border-radius: 3rem;
    box-shadow: .1rem 0 .5rem 0 var(--app-shadow);
}

header{
    background-color: rgb(255, 255, 255);
    box-shadow: .1rem 0 .5rem 0 var(--app-shadow);

    font-family: calculator;
    font-size: 2rem;
    font-weight: 600;
    overflow: visible;
    white-space: none;

    width: 100%;
    height: 8rem;
    margin-bottom: 3rem; 

    border-radius: 2rem;
}
#solution{
    font-size: 4rem;
}


main{
    display: flex;
    flex-direction: column;
    align-content: center;
}

section.horizontal{
    display: flex;
    gap: 1rem;
}

section#buttons-wrapper{
    display: flex;
    gap: 1rem;

}

button {
    width: 7.5rem;
    height: 5rem; 
    font-size: 1.6rem; 
    background-color: var(--btn-background);

    border:none;
    border-radius: 1.45rem;
    box-shadow: 0rem 4px 0rem 0 var(--app-shadow);
    cursor: pointer;
}

button:hover{
    background-color: #f0efef;
}

button#calculate-btn{
    height: 11rem;
}


/* assets */

.container{  /*do header*/
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;

    padding-top: 1rem;
    padding-right: 1.5rem;

    overflow: hidden;
    max-width: 100%;
    white-space: none;
}

.first-line, .second-line, .third-line, .fourth-line {
    display: flex; 
    margin-top: 1rem;
    gap: 1rem; 
}

.column{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.secondary-color > button{
    background-color: #f17522bb;
    color: white;
}
.secondary-color > button:hover{
    background-color: #d3671fbb;
    color: white;
}
