header{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--color-primary-1);
    padding: 2.8rem 8%;
    width: 100%;
}

#logo{
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--color-primary-6);
}
#logo p{
    display: inline;
    font-size: 2.8rem;
    letter-spacing: -.2rem;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav > ul{
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

header nav li > a{
    color: #1d1d1dad;
    font-weight: 600;
    text-decoration: none;
}

header button{
    background-color: var(--color-primary-5);
    font-weight: 600;
    width: 9.5rem;
    height: 3.8rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .2s ease;
}

header button:hover{
    background-color: rgba(226, 157, 9, 0.719);
}




@media screen and (max-width: 1172px)  {
    header nav > ul, nav > button{
        display: none;
    }

    nav{
        align-items: center;
     }
    
    header .icons{
        display: block;
    }
    header i.burguer{
        display: block;
    }

    nav.mobile-open{
        justify-content: center;
        flex-direction: column;
    }

    nav.mobile-open ul{
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        display: flex;
    }
    
    nav.mobile-open button{
        margin-top: 2.5rem;
        display: block;
    }
    
}


