*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    height: 100vh;
    place-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 250px;
}
button {
    width: 80px;
}

